@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #191919;
  color: #fff;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
}

span {
  font-size: 24px;
  position: relative;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #fff;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    transition: all .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    opacity: 0.665;
}

.notice-block {
  min-width: 30%;
  max-height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1s ease-in-out;
}

.notice-block h3 {
  font-size: 24px;
  position: relative;
  font-weight: bold;
  text-align: center;
}

.timer {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  transition: 0.7s ease-in-out;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.geometry {
  position: absolute;
  box-shadow: 0px 0px 15px #ff7aa2;
}